@font-face {
  font-family: "al_nevrada_personuploadedfile";
  src: url("al_nevrada_personaluseonly-webfont.woff2") format("woff2"), url("al_nevrada_personaluseonly-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair_displayregular";
  src: url("playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*RAMME FOR ALLE SIDDERNE*/
body {
  background-color: #ffe9e0;
}

/*NAV BAR*/
/*DROP DOWN NAVBAR*/

nav .drop-down1 {
  height: 90px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 139.5px;
  margin-left: 23%;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  position: absolute;
  margin-top: 3.5%;
  z-index: 1000;
  background-color: #fef5f0;
  transition: 0.2s ease;
}

nav .drop-down1.closed {
  margin-left: 23%;
  height: 42px;
  margin-top: 0%;
}

nav .drop-down1 li a {
  display: block;
  color: #6e3e03;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down1 li:first-child a:after {
  content: "\25BC";
  float: right;
}

nav .drop-down2 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 210.5px;
  margin-left: 37%;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  position: absolute;
  margin-top: 7%;
  z-index: 1000;
  background-color: #fef5f0;
  transition: 0.2s ease;
}

nav .drop-down2.closed {
  margin-left: 37%;
  height: 42px;
  margin-top: 0%;
}

nav .drop-down2 li a {
  display: block;
  color: #6e3e03;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down2 li:first-child a:after {
  content: "\25BC";
  float: right;
}

nav .drop-down2:hover {
  z-index: 1001;
}

nav .drop-down3.closed {
  margin-left: 47%;
  height: 42px;
  margin-top: 0%;
}

nav .drop-down3 li a {
  display: block;
  color: #6e3e03;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down3 li:first-child a:after {
  content: "\25BC";
  float: right;
}

nav .drop-down3 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 125.5px;
  margin-left: 47%;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  position: absolute;
  margin-top: 7%;
  z-index: 1000;
  background-color: #fef5f0;
  transition: 0.2s ease;
}

nav .drop-down3:hover {
  z-index: 1001;
}
nav .drop-down4 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 137.5px;
  margin-left: 79%;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  position: absolute;
  margin-top: 0%;
  z-index: 1000;
  background-color: #fef5f0;
}

nav .drop-down4.closed {
  margin-left: 54%;
  height: 42px;
  padding-top: 0.7%;
  padding-right: 2.5%;
  padding-left: 0%;
  width: 12.5%;
}

nav .drop-down5 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 137.5px;
  margin-left: 67%;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  position: absolute;
  margin-top: 7%;
  z-index: 1000;
  background-color: #fef5f0;
  transition: 0.2s ease;
}

nav .drop-down5.closed {
  margin-left: 67%;
  height: 42px;
  margin-top: 0%;
}

nav .drop-down5 li a {
  display: block;
  color: #6e3e03;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down5 li:first-child a:after {
  content: "\25BC";
  float: right;
}

nav .drop-down5:hover {
  z-index: 1001;
}
nav .drop-down6 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 137.5px;
  margin-left: 79%;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  position: absolute;
  margin-top: 0%;
  z-index: 1000;
  background-color: #fef5f0;
}
nav .drop-down6.closed {
  margin-left: 77%;
  height: 42px;
  padding: 10px;
}

#tryk {
  color: #ea667f;
}

/*RESTEN AF NORMAL NAVBAR*/

nav {
  display: flex;
  height: 61px;
  width: 94%;
  background: #fef5f0;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: 3%;
  margin-top: 1%;
  position: relative; /* Create a new stacking context */
  z-index: 1000; /* Increase the z-index value of the parent element */
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #6e3e03;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
  letter-spacing: 1px;
  font-family: "al_nevrada_personuploadedfile";
  white-space: nowrap;
}

nav ul li a.active,
nav ul li a:hover {
  color: #ea667f;
}

nav .menu-btn i {
  color: #ea667f;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}
.logopic {
  background-image: url(billeder/logovec.svg);
  width: 109px;
  aspect-ratio: 2/1;
  background-size: cover;
  position: absolute;
  top: 3.5%;
  left: 4%;
  z-index: 1001;
  height: 8.6%;
}

/* ANDET PÅ SIDERNE  */

.crystal {
  background-image: url(billeder/crystalfdone.webp);
  width: 18.3%;
  aspect-ratio: 3/6;
  background-size: cover;
  z-index: 800;
  position: fixed;
  left: 66%;
  top: 12.3%;
  pointer-events: none;
  overflow: visible;
}

.box {
  background-color: #fef5f0;
  width: 94%;
  height: 70%;
  position: fixed;
  margin-left: 3%;
  top: 16%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

/*FOOTER*/

footer {
  background-color: #fef5f0;
  width: 94%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding-top: 3%;
  position: fixed;
  height: 0%;
  top: 91%;
  left: 3%;
}

.socials {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  position: absolute;
  left: 2%;
  top: 37%;
}

.instagram {
  background-image: url(billeder/bruninsta.webp);
  background-size: cover;
  width: 44.5%;
  height: 134%;
  top: -36%;
  left: 113%;
  position: absolute;
}

.facebook {
  background-image: url(billeder/brunface.webp);
  background-size: cover;
  width: 44.5%;
  height: 134%;
  top: -36%;
  left: 164%;
  position: absolute;
}

.twitter {
  background-image: url(billeder/bruntwitter.webp);
  background-size: cover;
  width: 44.5%;
  height: 134%;
  top: -36%;
  left: 218%;
  position: absolute;
}

.copyright {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  position: absolute;
  left: 30%;
  top: 37%;
}

.kontakt {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  position: absolute;
  left: 66%;
  word-spacing: 224%;
  top: 37%;
}

.linje1 {
  background-color: #ea667f;
  position: fixed;
  width: 0.3%;
  height: 4%;
  top: 92%;
  left: 25%;
}

.linje2 {
  background-color: #ea667f;
  position: fixed;
  width: 0.3%;
  height: 4%;
  top: 92%;
  left: 63%;
}

/*KNAP*/

.knap {
  width: 10%;
  height: 5%;
  margin-top: -6%;
}
.knapbbypink {
  background-color: #ffe9e0;
  width: 243%;
  height: 244%;
  border-radius: 60px;
  top: -135%;
  left: 347%;
  z-index: 500;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease-in;
}

/*knap på indexsiden*/

/*Knap på alle andre sider*/
.knaptxt {
  font-family: "playfair_displayregular";
  color: #6e3e03;
  font-size: 160%;
  text-align: center;
  padding-top: 5%;
}
#knaptxt {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  font-size: 160%;
  text-align: center;
  padding-top: 6%;
  margin-left: 32%;
}

.knappink {
  background-color: #ea667f;
  width: 243%;
  height: 244%;
  border-radius: 60px;
  top: -378.3%;
  left: 369%;
  z-index: 400;
  position: relative;
}

.knapbbypink span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s ease-in;
}

.knapbbypink:hover .knaptxt {
  padding-top: 4.5%;
}

.knapbbypink:hover {
  left: 369%;
  border: 5px solid #ea667f;
}

.knapbbypink:hover span,
.knapbbypink:hover #knaptxt {
  color: #ea667f;
}

.knapbbypink:hover #knaptxt {
  margin-top: -1.1%;
}

/*SLUT FOR RAMMERNE PÅ ALLE SIDERNE*/

/*GALLERY*/

.row {
  display: flex;
  justify-content: center; /* Center aligns the mini gallery horizontally */
  margin-left: 16%;
  margin-right: 16%;
}

.column {
  float: left;
  width: 15%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.5;
  cursor: pointer;
  width: 100%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.column img:hover {
  transform: scale(1.1);
  opacity: 1;
}
.row:after {
  content: "";
  clear: both;
}

.container {
  position: fixed;
  top: 32%;
  left: 31%;
  width: 35%;
}

/*text der ikke skal synlig*/
#imgtext {
  color: transparent;
}

/* knap skal ikke være synlig */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: transparent;
  font-size: 35px;
  cursor: pointer;
}

/**INDHOLD PÅ INDEX SIDEN**/

.indexlogo {
  background-image: url(billeder/logovec.svg);
  background-size: cover;
  width: 42%;
  height: 56.1%;
  position: relative;
  margin-top: 9%;
  margin-left: 19%;
}
.indexportfolio {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  font-size: 265%;
  margin-top: -18%;
  margin-left: 46%;
}

.indexcitat {
  font-family: "playfair_displayregular";
  color: #6e3e03;
  font-size: 116%;
  margin-top: 14.5%;
  margin-left: 11%;
}

/*OMG MIG SIDE*/

.ommig_grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.ommig_overskrift {
  grid-column: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-top: 11%;
  margin-left: -30%;
}

.ommig_txt {
  grid-column: 2;
  color: #6e3e03;
  font-family: "playfair_displayregular";
  margin-top: 1%;
  margin-left: -35%;
  margin-right: 83%;
}

.ommig_pic {
  background-image: url(billeder/mig.webp);
  background-size: cover;
  width: 23%;
  height: 68%;
  position: absolute;
  top: 14%;
  left: 5%;
}

#ommigknap {
  position: absolute;
  top: 94%;
  left: -2%;
}

/*CV SIDE */

.cv_grid {
  display: grid;
  grid-template-columns: 50%;
  margin-top: 6%;
  margin-left: -35%;
}

.cv_overskrift {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 1%;
  font-size: 100%;
}

.cv_txt {
  font-family: "playfair_displayregular";
  color: #6e3e03;
  margin-bottom: 8%;
}

.cv_overskrift1 {
  grid-column: 2;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  text-align: center;
  margin-left: -78%;
}
.cv_pic {
  background-image: url(billeder/mig.webp);
  background-size: cover;
  width: 23%;
  height: 68%;
  position: absolute;
  top: 14%;
  left: 5%;
}
.cv_txtsize {
  margin-left: 101%;
  margin-right: -48%;
  margin-top: 6%;
}

/*WEB*/
#web1knap {
  position: absolute;
  top: 77%;
  left: -29%;
  font-family: "playfair_displayregular";
}

#web2knap {
  position: absolute;
  top: 77%;
  left: 2%;
  font-family: "playfair_displayregular";
}

.overskrift {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  font-size: 190%;
}

.web_overskrift1 {
  position: absolute;
  top: 44%;
  left: 7.5%;
}

.web_overskrift2 {
  position: absolute;
  top: 44%;
  left: 43%;
}
/*STUDIESTARTSPRØVE*/

.studiegrid {
  margin-top: -6%;
  margin-left: 5%;
  margin-right: 73%;
}

.studiestartoverskrift1 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.studiestartoverskrift2 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.studiestarttxt {
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#studiestartknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*EMNESITE*/

.emnegrid {
  margin-top: -6%;
  margin-left: 5%;
  margin-right: 73%;
  position: relative;
}

.emneoverskrift1 {
  grid-column: 1;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.emneoverskrift2 {
  grid-column: 1;
  grid-row: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.emnetxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#emneknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*UX*/
#ux1knap {
  position: absolute;
  top: 77%;
  left: -29%;
  font-family: "playfair_displayregular";
}

#ux2knap {
  position: absolute;
  top: 77%;
  left: 2%;
  font-family: "playfair_displayregular";
}

.ux_overskrift1 {
  position: absolute;
  top: 44%;
  left: 12.5%;
}

.ux_overskrift2 {
  position: absolute;
  top: 44%;
  left: 43%;
}

/*SKETCH*/

.sketchgrid {
  margin-top: -6%;
  margin-left: 5%;
  margin-right: 73%;
}

.sketchoverskrift1 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.sketchoverskrift2 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.sketchtxt {
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#sketchknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*PROTOTYPE*/

.protogrid {
  margin-top: -6%;
  margin-left: 5%;
  margin-right: 73%;
}

.protooverskrift1 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.protooverskrift2 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.prototxt {
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#protoknap {
  position: absolute;
  top: 105%;
  left: -33%;
}
/*ANIMATION*/

.anigrid {
  margin-top: -4%;
  margin-left: 5%;
  margin-right: 73%;
}

.anioverskrift1 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.anioverskrift2 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.anitxt {
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#aniknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*INDHOLD*/

#indhold1knap {
  position: absolute;
  top: 77%;
  left: -29%;
  font-family: "playfair_displayregular";
}

#indhold2knap {
  position: absolute;
  top: 77%;
  left: 2%;
  font-family: "playfair_displayregular";
}

.indhold_overskrift1 {
  position: absolute;
  top: 44%;
  left: 9.7%;
}

.indhold_overskrift2 {
  position: absolute;
  top: 44%;
  left: 43%;
}

/*PASSION*/

.passiongrid {
  margin-top: -6%;
  margin-left: 5%;
  margin-right: 73%;
}

.passionoverskrift1 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.passionoverskrift2 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.passiontxt {
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#passionknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*VIRSOMHED*/

.virksomhedgrid {
  margin-top: -6%;
  margin-left: 5%;
  margin-right: 73%;
}

.virksomhedoverskrift1 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.virksomhedoverskrift2 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.virksomhedtxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#virksomhedknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*PROCESS*/

.processgrid {
  margin-top: -6%;
  margin-left: 5%;
  margin-right: 70%;
}

.processoverskrift1 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 9%;
  margin-left: -15%;
  margin-top: -10%;
}

.processoverskrift2 {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.processtxt {
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#processknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

@media (max-width: 500px) {
  /*NAV BAR*/
  nav {
    padding: 0 40px 0 50px;
    position: fixed;
    margin-top: -4%;
    width: 92%;
    margin-left: 3%;
    top: 2.5%;
  }
  nav .menu-btn i {
    display: block;
    margin-left: 1389%;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
    left: 92%;
    position: absolute;
    top: 31%;
  }

  nav ul {
    position: fixed;
    top: 64px;
    left: -100%;
    background: #fef5f0;
    height: 100vh;
    width: 94%;
    display: block;
    transition: all 0.3s ease;
    z-index: 4;
    margin-left: 3%;
  }

  #click:checked ~ ul {
    left: 0;
    margin-left: -0.5%;
    padding-right: 63%;
    padding-left: 38%;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
    margin-top: 1%;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 4;
    text-align: center;
  }

  #click:checked ~ .drop-down4 a {
    margin-left: -8px;
  }
  #click:checked ~ .drop-down6 a {
    margin-left: -8px;
  }

  #click:checked ~ ul a {
    text-align: center;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #ea667f;
  }

  .logopic {
    margin-left: -1%;
    top: 1.5%;
    position: fixed;
    width: 27.5%;
    height: 6%;
  }

  nav .drop-down1.closed {
    height: 62px;
  }

  nav .drop-down2.closed {
    margin-left: 18%;
    height: 62px;
    margin-top: 10%;
  }

  nav .drop-down3.closed {
    margin-left: 29%;
    height: 62px;
    margin-top: 19%;
  }

  nav .drop-down4.closed {
    margin-top: 27%;
    margin-left: 24%;
    height: 62px;
  }

  nav .drop-down5.closed {
    margin-left: 24%;
    margin-top: 35%;
    height: 62px;
  }
  nav .drop-down6.closed {
    margin-top: 42%;
    height: 62px;
    margin-left: 25%;
  }

  nav .drop-down5 li:first-child a:after {
    content: none;
  }
  nav .drop-down1 li:first-child a:after {
    content: none;
  }

  nav .drop-down2 li:first-child a:after {
    content: none;
  }
  nav .drop-down3 li:first-child a:after {
    content: none;
  }

  /*RAMME FOR ALLE SIDDERNE*/

  .box {
    width: 92%;
    top: -4%;
    position: fixed;
    height: 75%;
    padding-top: 41%;
    margin-top: 28%;
  }

  footer {
    margin-top: 5.5%;
    padding-top: 25%;
    width: 92%;
    position: fixed;
    top: 84%;
    height: 13%;
  }

  .crystal {
    opacity: 50%;
    left: 55%;
    top: 6%;
    width: 42%;
    height: 39%;
    z-index: 2;
  }

  .knap {
    width: 29%;
    height: 3%;
    margin-top: -17.5%;
    margin-left: -75%;
  }

  .knappink {
    width: 215%;
    height: 242%;
    top: -377.3%;
    left: 360%;
    position: relative;
  }

  .knapbbypink {
    width: 202%;
  }

  #knaptxt {
    margin-left: 28%;
  }

  .linje1 {
    display: none;
  }

  .linje2 {
    display: none;
  }

  .socials {
    top: 11%;
  }

  .kontakt {
    left: 2%;
    word-spacing: 86%;
    top: 37%;
  }

  .copyright {
    left: 1%;
    top: 79%;
  }

  /*INDEX*/

  .indexlogo {
    position: absolute;
    z-index: 3;
    top: 33%;
    width: 78.8%;
    height: 21%;
    left: -15%;
  }
  .indexportfolio {
    font-size: 177%;
    margin-top: 15%;
    margin-left: 5%;
  }
  .indexcitat {
    margin-top: 39.5%;
    margin-left: 6%;
    margin-right: 11%;
  }

  #indexknap {
    width: 29%;
    height: 3%;
    position: absolute;
    top: 66%;
  }
  /*OM MIG*/

  .ommig_grid {
    grid-template-columns: 100%;
    margin-top: 35%;
    z-index: 6;
    position: relative;
  }
  .ommig_pic {
    grid-row: 1;
    aspect-ratio: 2/3;
    position: relative;
    top: -96%;
    z-index: 4;
    width: 51%;
    height: 73%;
  }
  .ommig_overskrift {
    grid-column: 1;
    margin-top: -88%;
    margin-left: 5%;
  }

  .ommig_txt {
    grid-column: 1;
    margin-top: -77%;
    margin-left: 5%;
    margin-right: 17%;
  }

  #ommigknap {
    left: -9%;
  }

  /*CV*/
  .cv_grid {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 35%;
  }
  .cv_pic {
    aspect-ratio: 2/3;
    position: relative;
    top: -99%;
    z-index: 4;
    width: 36%;
    height: 76%;
    left: 30%;
  }

  .cv_overskrift1 {
    grid-column: 1;
    grid-row: 2;
    margin-left: -28%;
    margin-top: -58%;
  }

  .cv_txtsize {
    grid-column: 1;
    margin-left: 31%;
    margin-right: 4%;
    margin-top: -47%;
  }

  /*WEB*/

  .web_overskrift1 {
    top: 30%;
    left: 13.5%;
    z-index: 5;
  }

  #web1knap {
    top: 50%;
    left: -10%;
  }

  .web_overskrift2 {
    top: 58%;
    left: 26.5%;
    z-index: 5;
  }

  #web2knap {
    top: 78%;
    left: -10%;
  }

  /*UX*/

  .ux_overskrift1 {
    top: 30%;
    left: 27.5%;
    z-index: 5;
  }

  #ux1knap {
    top: 50%;
    left: -10%;
  }

  .ux_overskrift2 {
    top: 58%;
    left: 26.5%;
    z-index: 5;
  }

  #ux2knap {
    top: 78%;
    left: -10%;
  }
  /*INDHOLD*/
  .indhold_overskrift1 {
    top: 30%;
    left: 18.5%;
    z-index: 5;
  }

  #indhold1knap {
    top: 50%;
    left: -10%;
  }

  .indhold_overskrift2 {
    top: 58%;
    left: 26.5%;
    z-index: 5;
  }

  #indhold2knap {
    top: 78%;
    left: -10%;
  }

  /*STUDIESTARTSPRØVE*/
  #studiestartknap {
    top: 17%;
    left: -23%;
    height: 1.7%;
  }
  .studiegrid1 {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    z-index: 20;
    margin-top: -30%;
  }

  .studiegrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-row: 1;
    margin-top: -2%;
  }

  .studiestartoverskrift1 {
    position: relative;
    z-index: 10;
    margin-top: -44%;
  }

  .studiestartoverskrift2 {
    position: relative;
    z-index: 7;
    margin-right: -281%;
    margin-top: 120%;
  }

  .studiestarttxt {
    position: relative;
    margin-right: -316%;
    margin-top: 39%;
  }

  .studiegallery {
    grid-column: 1;
    grid-row: 2;
  }
  .studieimgbox {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    top: 16%;
    margin-left: 3%;
    padding-bottom: 5%;
  }

  .studie1 {
    width: 322px;
    height: 218px;
  }

  .studie2 {
    width: 322px;
    height: 218px;
  }

  .studie3 {
    width: 322px;
    height: 218px;
  }

  .studie4 {
    width: 322px;
    height: 218px;
  }

  /*EMNESITE*/

  #emneknap {
    top: 9%;
    left: -23%;
    height: 1.7%;
  }
  .emnegrid1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    position: relative;
    z-index: 20;
  }

  .emnegrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-row: 1;
    margin-top: -30%;
  }

  .emneoverskrift1 {
    position: relative;
    z-index: 10;
    margin-top: -44%;
  }

  .emneoverskrift2 {
    position: relative;
    z-index: 7;
    margin-right: -281%;
    margin-top: 120%;
  }

  .emnetxt {
    position: relative;
    margin-right: -316%;
    margin-top: 39%;
  }

  .emnegallery {
    grid-column: 1;
    grid-row: 2;
  }
  .emneimgbox {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    position: relative;
    top: 16%;
    margin-left: 3%;
    padding-bottom: 5%;
  }
  .column img {
    opacity: 1;
  }
  .container {
    display: none;
  }

  .emne1 {
    width: 322px;
    height: 218px;
  }

  .emne2 {
    width: 322px;
    height: 218px;
  }

  .emne3 {
    width: 322px;
    height: 218px;
  }

  .emne4 {
    width: 322px;
    height: 218px;
  }

  /*SKETCH*/

  #sketchknap {
    top: 19%;
    left: -23%;
    height: 1.7%;
  }
  .sketchgrid1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    position: relative;
    z-index: 20;
    margin-top: -28%;
  }

  .sketchgrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-row: 1;
  }

  .sketchoverskrift1 {
    z-index: 10;
    margin-top: -30%;
  }

  .sketchoverskrift2 {
    grid-column: 1;
    z-index: 7;
    margin-right: -281%;
    margin-top: 120%;
  }

  .sketchtxt {
    grid-column: 1;
    grid-row: 3;
    margin-right: -316%;
    margin-top: 39%;
  }

  .sketchgallery {
    grid-column: 1;
    grid-row: 2;
  }
  .sketchimgbox {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    top: 16%;
    margin-left: 3%;
    padding-bottom: 5%;
  }

  .sketch1 {
    width: 322px;
    height: 218px;
  }

  .sketch2 {
    width: 322px;
    height: 218px;
  }

  .sketch3 {
    width: 322px;
    height: 218px;
  }

  /*PROTOTYPE*/
  #protoknap {
    top: 25%;
    left: -23%;
    height: 2.7%;
  }
  .protogrid1 {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    z-index: 20;
    margin-top: -28%;
  }

  .protogrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-row: 1;
  }

  .protooverskrift1 {
    z-index: 10;
    margin-top: -32%;
  }

  .protooverskrift2 {
    z-index: 7;
    margin-right: -281%;
    margin-top: 107%;
  }

  .prototxt {
    margin-right: -316%;
    margin-top: 50%;
  }

  .protogallery {
    grid-column: 1;
    grid-row: 2;
  }
  .protoimgbox {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    top: 16%;
    margin-left: 3%;
    padding-bottom: 5%;
  }

  .proto1 {
    width: 322px;
    height: 218px;
  }

  .proto2 {
    width: 322px;
    height: 218px;
  }

  /*ANIMATION*/

  #aniknap {
    top: 16%;
    left: -23%;
    height: 1.7%;
  }
  .anigrid1 {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    z-index: 20;
    margin-top: -28%;
  }

  .anigrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-row: 1;
  }

  .anioverskrift1 {
    margin-top: -44%;
  }

  .anioverskrift2 {
    margin-right: -281%;
    margin-top: 120%;
  }

  .anitxt {
    margin-right: -316%;
    margin-top: 64%;
  }

  .anigallery {
    grid-column: 1;
    grid-row: 2;
  }
  .aniimgbox {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    position: relative;
    top: 16%;
    margin-left: 3%;
    padding-bottom: 5%;
  }

  .ani1 {
    width: 322px;
    height: 218px;
  }

  .ani2 {
    width: 322px;
    height: 218px;
  }

  .ani3 {
    width: 322px;
    height: 218px;
  }

  .ani4 {
    width: 322px;
    height: 218px;
  }

  /*ANIMATION*/

  #passionknap {
    top: 9%;
    left: -23%;
    height: 1.7%;
  }
  .passiongrid1 {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    z-index: 20;
  }

  .passiongrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-row: 1;
    margin-top: -30%;
  }

  .passionoverskrift1 {
    margin-top: -44%;
  }

  .passionoverskrift2 {
    margin-right: -281%;
    margin-top: 120%;
  }

  .passiontxt {
    margin-right: -316%;
    margin-top: 64%;
  }

  .passiongallery {
    grid-column: 1;
    grid-row: 2;
  }
  .passionimgbox {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    top: 16%;
    margin-left: 3%;
    padding-bottom: 5%;
  }

  .passion1 {
    width: 322px;
    height: 218px;
  }

  .passion2 {
    width: 322px;
    height: 218px;
  }

  .passion3 {
    width: 322px;
    height: 218px;
  }

  .passion4 {
    width: 322px;
    height: 218px;
  }

  /*VIRKSOMHED*/

  #virksomhedknap {
    top: 9%;
    left: -23%;
    height: 1.7%;
  }
  .virksomhedgrid1 {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    z-index: 20;
  }

  .virksomhedgrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-row: 1;
    margin-top: -30%;
  }

  .virksomhedoverskrift1 {
    margin-top: -44%;
    margin-right: -109%;
  }

  .virksomhedoverskrift2 {
    margin-right: -281%;
    margin-top: 120%;
  }

  .virksomhedtxt {
    margin-right: -316%;
    margin-top: 64%;
  }

  .virksomhedgallery {
    grid-column: 1;
    grid-row: 2;
  }
  .virksomhedimgbox {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    top: 16%;
    margin-left: 3%;
    padding-bottom: 5%;
  }

  .virksomhed1 {
    width: 322px;
    height: 218px;
  }

  .virksomhed2 {
    width: 322px;
    height: 218px;
  }

  .virksomhed3 {
    width: 322px;
    height: 218px;
  }

  .virksomhed4 {
    width: 322px;
    height: 218px;
  }
  /*PROCESS*/
  .processgrid1 {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    z-index: 20;
  }

  .processgrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-row: 1;
    margin-top: -30%;
  }

  .processoverskrift1 {
    margin-top: -44%;
    margin-right: -109%;
  }

  .processoverskrift2 {
    margin-right: -281%;
    margin-top: 120%;
  }

  .processtxt {
    margin-right: -316%;
    margin-top: 64%;
  }

  .processgallery {
    grid-column: 1;
    grid-row: 2;
  }
  .processimgbox {
    display: grid;
    grid-template-columns: 100%;
    position: relative;
    top: 16%;
    margin-left: 3%;
    padding-bottom: 5%;
  }

  .process1 {
    width: 322px;
    height: 218px;
  }

  .process2 {
    width: 322px;
    height: 218px;
  }

  .process3 {
    width: 322px;
    height: 218px;
  }

  .process4 {
    width: 322px;
    height: 218px;
  }
}

@media (min-width: 600px) {
  .border {
    border-style: solid;
    color: #ea667f;
  }
}
