@font-face {
  font-family: "al_nevrada_personuploadedfile";
  src: url("al_nevrada_personaluseonly-webfont.woff2") format("woff2"), url("al_nevrada_personaluseonly-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair_displayregular";
  src: url("playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/** drop down menu*/

nav .drop-down1 {
  height: 90px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 139.5px;
  margin-left: 23%;
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  overflow: hidden;
  padding: 0;
  text-align: center;
  position: absolute;
  margin-top: 3.5%;
  z-index: 1000;
  background-color: #fef5f0;
  transition: 0.2s ease;
}

nav .drop-down1.closed {
  margin-left: 23%;
  height: 42px;
  margin-top: 0%;
}

nav .drop-down1 li a {
  display: block;
  color: #6e3e03;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down1 li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -1px; /* Excessive -margin to bring link text back to center */
  margin-right: 5px;
}

nav .drop-down2 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 210.5px;
  margin-left: 37%;
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  overflow: hidden;
  padding: 0;
  text-align: center;
  position: absolute;
  margin-top: 7%;
  z-index: 1000;
  background-color: #fef5f0;
  transition: 0.2s ease;
}

nav .drop-down2.closed {
  margin-left: 37%;
  height: 42px;
  margin-top: 0%;
}

nav .drop-down2 li a {
  display: block;
  color: #6e3e03;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down2 li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -1px; /* Excessive -margin to bring link text back to center */
  margin-right: 5px;
}

nav .drop-down2:hover {
  z-index: 1001;
}

nav .drop-down3.closed {
  margin-left: 47%;
  height: 42px;
  margin-top: 0%;
}

nav .drop-down3 li a {
  display: block;
  color: #6e3e03;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down3 li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -1px; /* Excessive -margin to bring link text back to center */
  margin-right: 5px;
}

nav .drop-down3 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 125.5px;
  margin-left: 47%;
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  overflow: hidden;
  padding: 0;
  text-align: center;
  position: absolute;
  margin-top: 7%;
  z-index: 1000;
  background-color: #fef5f0;
  transition: 0.2s ease;
}

nav .drop-down3:hover {
  z-index: 1001;
}
nav .drop-down4 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 137.5px;
  margin-left: 79%;
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  overflow: hidden;
  padding: 0;
  text-align: center;
  position: absolute;
  margin-top: 0%;
  z-index: 1000;
  background-color: #fef5f0;
}

nav .drop-down4.closed {
  margin-left: 54%;
  height: 42px;
  margin-top: 0%;
  padding: 3px;
  padding-top: 0.7%;
  padding-right: 2.5%;
  padding-left: 0%;
  width: 12.5%;
}

nav .drop-down5 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 137.5px;
  margin-left: 67%;
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  overflow: hidden;
  padding: 0;
  text-align: center;
  position: absolute;
  margin-top: 7%;
  z-index: 1000;
  background-color: #fef5f0;
  transition: 0.2s ease;
}

nav .drop-down5.closed {
  margin-left: 67%;
  height: 42px;
  margin-top: 0%;
}

nav .drop-down5 li a {
  display: block;
  color: #6e3e03;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down5 li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -1px; /* Excessive -margin to bring link text back to center */
  margin-right: 5px;
}

nav .drop-down5:hover {
  z-index: 1001;
}
nav .drop-down6 {
  height: 130px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  width: 137.5px;
  margin-left: 79%;
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  overflow: hidden;
  padding: 0;
  text-align: center;
  position: absolute;
  margin-top: 0%;
  z-index: 1000;
  background-color: #fef5f0;
}
nav .drop-down6.closed {
  margin-left: 77%;
  height: 42px;
  margin-top: 0%;
  padding: 10px;
}

.border {
  border-style: solid;
  color: #ea667f;
}

/*FINISHED*/

body {
  background-color: #ffe9e0;
}

nav {
  display: flex;
  height: 61px;
  width: 94%;
  background: #fef5f0;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-left: 3%;
  margin-top: 1%;
  position: relative; /* Create a new stacking context */
  z-index: 1000; /* Increase the z-index value of the parent element */
}

.logopic {
  background-image: url(billeder/idalogo.png);
  width: 128px;
  height: 65px;
  aspect-ratio: 2/1;
  background-size: cover;
  position: absolute;
  top: 1.5%;
  left: 3%;
  z-index: 1001;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #6e3e03;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-family: "al_nevrada_personuploadedfile";
  white-space: nowrap;
}

nav ul li a.active,
nav ul li a:hover {
  color: #ea667f;
}

nav .menu-btn i {
  color: #ea667f;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

/* ANDET PÅ SIDERNE  */

.crystal {
  background-image: url(billeder/crystalfdone.png);
  width: 19.3%;
  aspect-ratio: 3/6;
  background-size: cover;
  z-index: 800;
  position: fixed;
  left: 66%;
  top: 12.3%;
  pointer-events: none;
  overflow: visible;
}

.box {
  background-color: #fef5f0;
  width: 94%;
  height: 70%;
  position: fixed;
  margin-left: 3%;
  top: 16%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

footer {
  background-color: #fef5f0;
  width: 94%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding-top: 3%;
  margin-left: 3%;
  display: flex;
  position: relative;
  margin-top: 36.5%;
}

.socials {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  position: absolute;
  left: 2%;
  top: 37%;
}

.instagram {
  background-image: url(billeder/bruninsta.png);
  background-size: cover;
  width: 44.5%;
  height: 134%;
  top: -36%;
  left: 113%;
  position: absolute;
}

.facebook {
  background-image: url(billeder/brunface.png);
  background-size: cover;
  width: 44.5%;
  height: 134%;
  top: -36%;
  left: 164%;
  position: absolute;
}

.twitter {
  background-image: url(billeder/bruntwitter.png);
  background-size: cover;
  width: 44.5%;
  height: 134%;
  top: -36%;
  left: 218%;
  position: absolute;
}

.copyright {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  position: absolute;
  left: 30%;
  top: 37%;
}

.kontakt {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  position: absolute;
  left: 66%;
  word-spacing: 224%;
  top: 37%;
}

.linje1 {
  background-color: #ea667f;
  position: absolute;
  width: 0.3%;
  height: 77%;
  top: 12%;
  left: 25%;
}

.linje2 {
  background-color: #ea667f;
  position: absolute;
  width: 0.3%;
  height: 77%;
  top: 12%;
  left: 63%;
}

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ea667f;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/**INDHOLD PÅ INDEX SIDEN**/

.indexlogo {
  background-image: url(billeder/idalogo.png);
  background-size: cover;
  width: 41%;
  height: 70%;
  margin-top: 7%;
  margin-left: 19%;
}
.indexportfolio {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  font-size: 265%;
  margin-top: -19%;
  margin-left: 46%;
}

.indexcitat {
  font-family: "playfair_displayregular";
  color: #6e3e03;
  font-size: 116%;
  margin-top: 12.5%;
  margin-left: 11%;
}

.knap {
  width: 10%;
  height: 5%;
  margin-top: -6%;
  margin-left: 0%;
}
.knapbbypink {
  background-color: #ffe9e0;
  width: 243%;
  height: 244%;
  border-radius: 60px;
  top: -135%;
  left: 347%;
  z-index: 500;
  position: relative;
}

#knaptxt {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  font-size: 160%;
  text-align: center;
  padding-top: 6%;
  margin-left: 32%;
}

.knappink {
  background-color: #ea667f;
  width: 243%;
  height: 244%;
  border-radius: 60px;
  top: -378.3%;
  left: 369%;
  z-index: 400;
  position: relative;
}

/*forsøg på animation af knap*/
.knapbbypink {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s ease-in;
}

.knapbbypink span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s ease-in;
}

.knapbbypink:hover {
  left: 369%;
  border: 5px solid #ea667f;
}

.knapbbypink:hover span,
.knapbbypink:hover #knaptxt {
  color: #ea667f;
}

.knapbbypink:hover #knaptxt {
  margin-top: -1.1%;
}

/*OMG MIG SIDE*/

.ommig_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
}

.ommig_overskrift {
  grid-column: 2;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-top: 11%;
  margin-left: -30%;
}

.ommig_txt {
  grid-column: 2;
  grid-row: 2;
  color: #6e3e03;
  font-family: "playfair_displayregular";
  margin-top: 1%;
  margin-left: -35%;
  margin-right: 83%;
}

.ommig_pic {
  grid-column: 1;
  grid-row: 1/4;
  background-image: url(billeder/mig.PNG);
  background-size: cover;
  width: 23%;
  height: 68%;
  position: absolute;
  top: 14%;
  left: 5%;
}

#ommigknap {
  position: absolute;
  top: 94%;
  left: -2%;
}

.knaptxt {
  font-family: "playfair_displayregular";
  color: #6e3e03;
  font-size: 160%;
  text-align: center;
  padding-top: 5%;
}

/*CV SIDE */

.cv_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
  margin-top: 6%;
  margin-left: -35%;
}

.cv_overskrift {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 1%;
  font-size: 100%;
}

.cv_txt {
  font-family: "playfair_displayregular";
  color: #6e3e03;
  margin-bottom: 8%;
}

.cv_overskrift1 {
  grid-column: 2;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  text-align: center;
  margin-left: -78%;
}
.cv_txtsize {
  margin-left: 101%;
  margin-right: -48%;
  margin-top: 6%;
}

.cvo1 {
  grid-column: 2;
  grid-row: 2;
}

.cv1 {
  grid-column: 2;
  grid-row: 3;
}

.cvo2 {
  grid-column: 2;
  grid-row: 4;
}

.cv2 {
  grid-column: 2;
  grid-row: 5;
}

.cvo3 {
  grid-column: 2;
  grid-row: 6;
}

.cv3 {
  grid-column: 2;
  grid-row: 7;
}

/*WEB*/
#web1knap {
  position: absolute;
  top: 77%;
  left: -29%;
  font-family: "playfair_displayregular";
}

#web2knap {
  position: absolute;
  top: 77%;
  left: 2%;
  font-family: "playfair_displayregular";
}

.overskrift {
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  font-size: 190%;
}

.web_overskrift1 {
  position: absolute;
  top: 44%;
  left: 7.5%;
}

.web_overskrift2 {
  position: absolute;
  top: 44%;
  left: 43%;
}
/*STUDIESTARTSPRØVE*/
.studiegallery {
  width: 22%;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53%;
  margin-top: 7%;
  flex-direction: column;
}
.studieimgbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.studieimg {
  width: 62px;
  height: 63px;
  margin-left: 85%;
  margin: 3px;
  border-radius: 50px;
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/studiestart1.png);
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out;
  flex-direction: column;
}
.studieimg:nth-child(2) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/studiestart2.png);
  background-size: cover;
  background-position: center;
}
.studieimg:nth-child(3) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/studiestart3.png);
  background-size: cover;
  background-position: center;
}

.studieimg:nth-child(4) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/studiestart4.png);
  background-size: cover;
  background-position: center;
}

.studie1:hover {
  background: url(billeder/studiestart1.png);
  background-size: cover;
}

.studie2:hover {
  background: url(billeder/studiestart2.png);
  background-size: cover;
}

.studie3:hover {
  background: url(billeder/studiestart3.png);
  background-size: cover;
}

.studie4:hover {
  background: url(billeder/studiestart4.png);
  background-size: cover;
}
.studieimg:hover {
  width: 404px;
  height: 275px;
  margin-right: 78%;
  cursor: pointer;
}

.studiegrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: -32%;
  margin-left: 5%;
  margin-right: 73%;
}

.studiestartoverskrift1 {
  grid-column: 1;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.studiestartoverskrift2 {
  grid-column: 1;
  grid-row: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.studiestarttxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#studiestartknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*EMNESITE*/
.emnegallery {
  width: 22%;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53%;
  margin-top: 7%;
  flex-direction: column;
}
.emneimgbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.emneimg {
  width: 62px;
  height: 63px;
  margin-left: 85%;
  margin: 3px;
  border-radius: 50px;
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/emnesite1.png);
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out;
  flex-direction: column;
}
.emneimg:nth-child(2) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/emnesite2.png);
  background-size: cover;
  background-position: center;
}
.emneimg:nth-child(3) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/emnesite3.png);
  background-size: cover;
  background-position: center;
}

.emneimg:nth-child(4) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/emnesite4.png);
  background-size: cover;
  background-position: center;
}

.emne1:hover {
  background: url(billeder/emnesite1.png);
  background-size: cover;
}

.emne2:hover {
  background: url(billeder/emnesite2.png);
  background-size: cover;
}

.emne3:hover {
  background: url(billeder/emnesite3.png);
  background-size: cover;
}

.emne4:hover {
  background: url(billeder/emnesite4.png);
  background-size: cover;
}
.emneimg:hover {
  width: 404px;
  height: 275px;
  margin-right: 78%;
  cursor: pointer;
}

.emnegrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: -32%;
  margin-left: 5%;
  margin-right: 73%;
}

.emneoverskrift1 {
  grid-column: 1;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.emneoverskrift2 {
  grid-column: 1;
  grid-row: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.emnetxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#emneknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*UX*/
#ux1knap {
  position: absolute;
  top: 77%;
  left: -29%;
  font-family: "playfair_displayregular";
}

#ux2knap {
  position: absolute;
  top: 77%;
  left: 2%;
  font-family: "playfair_displayregular";
}

.ux_overskrift1 {
  position: absolute;
  top: 44%;
  left: 12.5%;
}

.ux_overskrift2 {
  position: absolute;
  top: 44%;
  left: 43%;
}

/*SKETCH*/

.sketchgallery {
  width: 22%;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53%;
  margin-top: 4%;
  flex-direction: column;
}
.sketchimgbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sketchimg {
  width: 62px;
  height: 63px;
  margin-left: 85%;
  margin: 3px;
  border-radius: 50px;
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/sketch1.png);
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out;
  flex-direction: column;
}
.sketchimg:nth-child(2) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/sketch2.png);
  background-size: cover;
  background-position: center;
}
.sketchimg:nth-child(3) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/sketch3.png);
  background-size: cover;
  background-position: center;
}

.sketch1:hover {
  background: url(billeder/sketch1.png);
  background-size: cover;
}

.sketch2:hover {
  background: url(billeder/sketch2.png);
  background-size: cover;
}

.sketch3:hover {
  background: url(billeder/sketch3.png);
  background-size: cover;
}

.sketchimg:hover {
  width: 404px;
  height: 275px;
  margin-right: 78%;
  cursor: pointer;
}

.sketchgrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: -29%;
  margin-left: 5%;
  margin-right: 73%;
}

.sketchoverskrift1 {
  grid-column: 1;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.sketchoverskrift2 {
  grid-column: 1;
  grid-row: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.sketchtxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#sketchknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*PROTOTYPE*/
.protogallery {
  width: 22%;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53%;
  margin-top: 4%;
  flex-direction: column;
}
.protoimgbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.protoimg {
  width: 62px;
  height: 63px;
  margin-left: 85%;
  margin: 3px;
  border-radius: 50px;
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/proto1.png);
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out;
  flex-direction: column;
}
.protoimg:nth-child(2) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/proto2.png);
  background-size: cover;
  background-position: center;
}

.proto1:hover {
  background: url(billeder/proto1.png);
  background-size: cover;
}

.proto2:hover {
  background: url(billeder/proto2.png);
  background-size: cover;
}

.protoimg:hover {
  width: 404px;
  height: 275px;
  margin-right: 78%;
  cursor: pointer;
}

.protogrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: -29%;
  margin-left: 5%;
  margin-right: 73%;
}

.protooverskrift1 {
  grid-column: 1;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.protooverskrift2 {
  grid-column: 1;
  grid-row: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.prototxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#protoknap {
  position: absolute;
  top: 105%;
  left: -33%;
}
/*ANIMATION*/
.anigallery {
  width: 22%;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53%;
  margin-top: 7%;
  flex-direction: column;
}
.aniimgbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.aniimg {
  width: 62px;
  height: 63px;
  margin-left: 85%;
  margin: 3px;
  border-radius: 50px;
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/ani1.png);
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out;
  flex-direction: column;
}
.aniimg:nth-child(2) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/ani2.png);
  background-size: cover;
  background-position: center;
}
.aniimg:nth-child(3) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/ani3.PNG);
  background-size: cover;
  background-position: center;
}

.aniimg:nth-child(4) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/ani4.png);
  background-size: cover;
  background-position: center;
}

.ani1:hover {
  background: url(billeder/ani1.png);
  background-size: cover;
}

.ani2:hover {
  background: url(billeder/ani2.png);
  background-size: cover;
}

.ani3:hover {
  background: url(billeder/ani3.PNG);
  background-size: cover;
}

.ani4:hover {
  background: url(billeder/ani4.png);
  background-size: cover;
}
.aniimg:hover {
  width: 404px;
  height: 275px;
  margin-right: 78%;
  cursor: pointer;
}

.anigrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: -32%;
  margin-left: 5%;
  margin-right: 73%;
}

.anioverskrift1 {
  grid-column: 1;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.anioverskrift2 {
  grid-column: 1;
  grid-row: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.anitxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#aniknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*INDHOLD*/

#indhold1knap {
  position: absolute;
  top: 77%;
  left: -29%;
  font-family: "playfair_displayregular";
}

#indhold2knap {
  position: absolute;
  top: 77%;
  left: 2%;
  font-family: "playfair_displayregular";
}

.indhold_overskrift1 {
  position: absolute;
  top: 44%;
  left: 9.7%;
}

.indhold_overskrift2 {
  position: absolute;
  top: 44%;
  left: 43%;
}

/*PASSION*/
.passiongallery {
  width: 22%;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53%;
  margin-top: 7%;
  flex-direction: column;
}
.passionimgbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.passionimg {
  width: 62px;
  height: 63px;
  margin-left: 85%;
  margin: 3px;
  border-radius: 50px;
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/passion1.png);
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out;
  flex-direction: column;
}
.passionimg:nth-child(2) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/passion2.png);
  background-size: cover;
  background-position: center;
}
.passionimg:nth-child(3) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/passion3.png);
  background-size: cover;
  background-position: center;
}

.passionimg:nth-child(4) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/passion4.png);
  background-size: cover;
  background-position: center;
}

.passion1:hover {
  background: url(billeder/passion1.png);
  background-size: cover;
}

.passion2:hover {
  background: url(billeder/passion2.png);
  background-size: cover;
}

.passion3:hover {
  background: url(billeder/passion3.png);
  background-size: cover;
}

.passion4:hover {
  background: url(billeder/passion4.png);
  background-size: cover;
}
.passionimg:hover {
  width: 404px;
  height: 275px;
  margin-right: 78%;
  cursor: pointer;
}

.passiongrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: -32%;
  margin-left: 5%;
  margin-right: 73%;
}

.passionoverskrift1 {
  grid-column: 1;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.passionoverskrift2 {
  grid-column: 1;
  grid-row: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.passiontxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#passionknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

/*VIRSOMHED*/
.virksomhedgallery {
  width: 22%;
  height: 57vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 53%;
  margin-top: 7%;
  flex-direction: column;
}
.virksomhedimgbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.virksomhedimg {
  width: 62px;
  height: 63px;
  margin-left: 85%;
  margin: 3px;
  border-radius: 50px;
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/virksomhed1.png);
  background-size: cover;
  background-position: center;
  transition: width 0.5s ease-in-out;
  flex-direction: column;
}
.virksomhedimg:nth-child(2) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/virksomhed2.png);
  background-size: cover;
  background-position: center;
}
.virksomhedimg:nth-child(3) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/virksomhed3.png);
  background-size: cover;
  background-position: center;
}

.virksomhedimg:nth-child(4) {
  background: linear-gradient(#ea667e53, #ea667e53), url(billeder/virksomhed4.png);
  background-size: cover;
  background-position: center;
}

.virksomhed1:hover {
  background: url(billeder/virksomhed1.png);
  background-size: cover;
}

.virksomhed2:hover {
  background: url(billeder/virksomhed2.png);
  background-size: cover;
}

.virksomhed3:hover {
  background: url(billeder/virksomhed3.png);
  background-size: cover;
}

.virksomhed4:hover {
  background: url(billeder/virksomhed4.png);
  background-size: cover;
}
.virksomhedimg:hover {
  width: 404px;
  height: 275px;
  margin-right: 78%;
  cursor: pointer;
}

.virksomhedgrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  margin-top: -32%;
  margin-left: 5%;
  margin-right: 73%;
}

.virksomhedoverskrift1 {
  grid-column: 1;
  grid-row: 1;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
  margin-bottom: 11%;
  margin-left: -15%;
  margin-top: -10%;
}

.virksomhedoverskrift2 {
  grid-column: 1;
  grid-row: 2;
  color: #ea667f;
  font-family: "al_nevrada_personuploadedfile";
}

.virksomhedtxt {
  grid-column: 1;
  grid-row: 3;
  color: #6e3e03;
  font-family: "playfair_displayregular";
}
#virksomhedknap {
  position: absolute;
  top: 105%;
  left: -33%;
}

@media (max-width: 1000px) {
}

@media (max-width: 920px) {
  nav {
    padding: 0 40px 0 50px;
    z-index: 4;
    position: fixed;
    margin-top: -4%;
    width: 92%;
    margin-left: 3%;
    top: 2.5%;
  }
  nav .menu-btn i {
    display: block;
    z-index: 4;
    margin-left: 1567%;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
    left: 92%;
    position: absolute;
    top: 31%;
  }

  nav ul {
    position: fixed;
    top: 64px;
    left: -100%;
    background: #fef5f0;
    height: 100vh;
    width: 94%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 4;
    margin-left: 3%;
  }

  #click:checked ~ ul {
    left: 0;
    margin-left: -1%;
    padding-right: 63%;
    padding-left: 38%;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
    z-index: 4;
    margin-top: 1%;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 4;
    text-align: center;
  }

  #click:checked ~ .drop-down4 a {
    margin-left: -8px;
  }
  #click:checked ~ .drop-down6 a {
    margin-left: -8px;
  }

  #click:checked ~ ul a {
    text-align: center;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #ea667f;
  }

  .logopic {
    margin-left: -1%;
    top: 0%;
    position: fixed;
  }

  nav .drop-down1.closed {
    height: 62px;
  }

  nav .drop-down2.closed {
    margin-left: 18%;
    height: 62px;
    margin-top: 10%;
  }

  nav .drop-down3.closed {
    margin-left: 29%;
    height: 62px;
    margin-top: 19%;
  }

  nav .drop-down4.closed {
    margin-top: 27%;
    margin-left: 24%;
    height: 62px;
  }

  nav .drop-down5.closed {
    margin-left: 24%;
    margin-top: 35%;
    height: 62px;
  }
  nav .drop-down6.closed {
    margin-top: 42%;
    height: 62px;
    margin-left: 25%;
  }

  nav .drop-down5 li:first-child a:after {
    content: none;
  }
  nav .drop-down1 li:first-child a:after {
    content: none;
  }

  nav .drop-down2 li:first-child a:after {
    content: none;
  }
  nav .drop-down3 li:first-child a:after {
    content: none;
  }

  .box {
    width: 92%;
    top: -4%;
    position: fixed;
    z-index: 1;
    padding-bottom: 20%;
    height: 75%;
    padding-top: 135%;
    margin-top: 28%;
  }

  footer {
    margin-top: 5.5%;
    padding-top: 25%;
    width: 92%;
    position: fixed;
    top: 84%;
  }

  .indexlogo {
    position: absolute;
    z-index: 3;
    top: 29%;
    width: 93%;
    height: 31%;
    left: -23%;
  }

  .crystal {
    opacity: 50%;
    left: 39%;
    top: 6%;
    width: 53%;
    height: 49%;
    z-index: 2;
  }

  .indexportfolio {
    font-size: 177%;
    margin-top: -86%;
    margin-left: 5%;
  }
  .indexcitat {
    margin-top: 39.5%;
    margin-left: 6%;
    margin-right: 31%;
  }
  .knap {
    width: 29%;
    height: 68%;
    margin-top: -17%;
    margin-left: -75%;
  }

  .knappink {
    width: 63%;
    height: 7%;
    top: 53.7%;
    left: 27%;
    position: absolute;
  }

  .knapbbypink {
    width: 202%;
  }

  #knaptxt {
    margin-left: 28%;
  }
}

@media (min-width: 920px) {
}
