@font-face {
  font-family: "al_nevrada_personuploadedfile";
  src: url("al_nevrada_personaluseonly-webfont.woff2") format("woff2"), url("al_nevrada_personaluseonly-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "playfair_displayregular";
  src: url("playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"), url("playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*header*/
header {
  display: flex;
  background-color: #fef5f0;
  margin-left: 1%;
  padding-right: 40%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
}
body {
  background-color: #ffe9e0;
}
nav {
  display: flex;
  align-items: center;
}
.logo {
  flex: 1;
}
.logopic {
  background-image: url(billeder/idalogo.png);
  width: 128px;
  height: 65px;
  aspect-ratio: 2/1;
  background-size: cover;
  margin-bottom: -1%;
  margin-top: -1%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 10px;
}

nav a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #6e3e03;
  border: 2px solid transparent;
  font-family: "al_nevrada_personuploadedfile";
  font-weight: 500;
  font-size: 116%;
}

/*Husk at sætte active class på de andre html sidder*/
nav ul li a:hover,
nav ul li a:active {
  color: #ea667f;
}

/*Burgermenu*/
.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ea667f;
  margin-bottom: 5px;
}
.burger {
  display: none;
}

/* ANDET */

.crystal {
  background-image: url(billeder/crystalfdone.png);
  width: 19%;
  aspect-ratio: 3/6;
  background-size: cover;
  z-index: 1000;
  position: absolute;
  left: 66%;
  top: 12%;
  pointer-events: none;
}

.box {
  background-color: #fef5f0;
  width: 96%;
  height: 70%;
  position: fixed;
  margin-left: 1%;
  top: 18%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.indexlogo {
  background-image: url(billeder/idalogo.png);
  background-size: cover;
  width: 41%;
  height: 70%;
  margin-top: 7%;
  margin-left: 19%;
}

.indexportfolio {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  font-size: 265%;
  margin-top: -19%;
  margin-left: 46%;
}

.indexcitat {
  font-family: "playfair_displayregular";
  color: #6e3e03;
  font-size: 116%;
  margin-top: 12.5%;
  margin-left: 11%;
}

.knap {
  width: 100%;
  height: 91%;
  margin-top: -6%;
  margin-left: 0%;
}
.knapbbypink {
  background-color: #ffe9e0;
  width: 22%;
  height: 13%;
  border-radius: 60px;
  margin-top: -8%;
  margin-left: 34%;
}

.knaptxt {
  font-family: "al_nevrada_personuploadedfile";
  color: #6e3e03;
  font-size: 160%;
  text-align: center;
  padding-top: 6%;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    padding-right: 57%;
    margin-left: -15%;
    margin-top: 35%;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: #fef5f0;
    position: absolute;
    top: 74px;
    left: 0;
    width: 94%;
    z-index: 1;
    margin-left: 3%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 81%;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    text-align: center;
  }
  header {
    padding-bottom: 2%;
  }
  nav ul li a:hover {
    color: #ea667f;
  }
}
